/* ================ BASE RESET ================ */

/* Width include padding and border */
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Smooth Scoll / Jump */
html {
    scroll-behavior: smooth;
}

/* Reset Some Navigator defaults */
body{
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    line-height: 1.5;
}

/* Images default setup */
img{
    max-width: 100%;
    display: block;
}

/* Anchors default setup */
a{
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus-visible{
    text-decoration: underline;
}

/* ================ GLOBAL LAYOUT ================ */


/*---- IN GLOBAL BOX ---- */

/*Global Box*/
.page-home-frame{ 
    min-height: 90vh;

    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;

    background-color: rgba(78, 78, 78, 0.664);
    border-color: rgba(240, 248, 255, 0.836);
    border-style: solid;

    /* Left and Right Sides */
    display: flex;
}

.visual-background-area{
    z-index: 0;
    background-color: aliceblue;
    min-width: fit-content;
}


/*---- IN LEFT BOX ---- */

/* Header and Left Box*/
.site-header{ 
    /* Front */
    z-index: 1;

    /*Vertical Structure*/
    display: flex;
    flex-direction: column;

    /* Margin & Padding */
    padding-left: 3vw;
    padding-top: 5vh;

    /* Left Side */
    width: 40%;
}

/* Header Title and Subtitle */
.page-home-title,
.page-home-subtitle{
    margin: 0;
    padding: 0;
}

/* Navigation List */
.nav-list{
    list-style: none;
    margin-top: 5vh;
    padding: 0;
}


/*---- IN RIGHT BOX ---- */

/* Right Box */
.page-home-content{ 
    /* Front */
    z-index: 1;

    /* Right Side */
    width: 60%;

    /* Margin & Padding */
    padding-right: 3vw;
    padding-top: 5vh;

    display: flex; /* Make all childs element vertical */
    position: relative; /* Reference for childs positions */
}

.content-aboutme{
    /* Bottom Right Position in Box */
    position: absolute; /*Relative to page-home-content box */
    right: 80px;
    bottom: 50px;

    max-width: 250px;

    font-size: 1.3rem;
    text-align: justify;
    
}


/*---- OUTSIDE GLOBAL BOX ---- */

/* Footer */
.site-footer{
    margin-left: 3vw;
}

